<div class="container">
  <div class="row">
    <div class="col-md-6 pt-5">
      <h2>Welcome to our cafe haven, where productivity meets comfort.</h2>
      <p class="pt-3">Coffee shops are more than just places to grab a drink; they're your office, study sanctuary, and meeting hub. We've built a platform where everyone can share their favorite work-friendly cafes and connect with fellow coffee enthusiasts.</p>
      <p>Discover cafes with the perfect atmosphere, services, and convenience—whether you need a quiet place to focus, a cozy meeting spot, or plenty of charging options. Share your reviews and top picks, and let's create the ultimate cafe haven together!</p>
    </div>
    <div class="col-md-6 pt-5">
      <%= image_tag("about.jpg", class: "img-fluid") %>
    </div>
  </div>
</div>