<h4>Add a new post</h4>
<p>Picture</p>
<p>Cafe Name</p>
<p>Address</p>
<p>Categories</p>
<p>Comment</p>

<%= form_with model: @cafe do |f| %>
  <p>Picture</p>
  <%= f.file_field :image, accept: "image/*" %>

  <p>Cafe Name</p>

  <p>Address</p>
  
  <p>Categories</p>
  
  <p>Comment</p>
  <%= f.text_area :body %>
  
  <%= f.submit 'Share' %>
<% end %>
