@use '~bootstrap/scss/bootstrap';

.custom-bg {
  background-color: #a2bd95;
}

body {
  font-family: 'Poppins', sans-serif;
}

.tag-link {
    display: inline-block;
    padding: 3px 10px; 
    margin: 15px 5px; 
    border: 1px solid lightgray;
    color: black; 
    text-decoration: none; 
    border-radius: 5px; 
  }
  .tag-link:hover {
    background-color: #f0f0f0;
  }
  
  .box {
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
}

.box a {
  color: black !important;
  text-decoration: none !important;
}

.box:hover {
  background-color: #f0f0f0;
}

.opening-hours {
  text-align: left;
}

.fixed-image-height {
  height: 300px; /* 画像の固定高さを設定 */
  overflow: hidden; /* はみ出た部分を隠す */
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-image-height img {
  object-fit: cover; /* 画像をコンテナにフィットさせる */
  height: 100%;
}