@use '~bootstrap/scss/bootstrap';

.custom-bg {
  background-color: #a2bd95;
}

body {
  font-family: 'Poppins', sans-serif;
}

.tag-link {
    display: inline-block;
    padding: 3px 10px; 
    margin: 15px 5px; 
    border: 1px solid lightgray;
    color: black; 
    text-decoration: none; 
    border-radius: 5px; 
  }
  .tag-link:hover {
    background-color: #f0f0f0;
  }
  
  .box {
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
}

.box a {
  color: black !important;
  text-decoration: none !important;
}

.box:hover {
  background-color: #f0f0f0;
}

.opening-hours {
  text-align: left;
}

.image {
  height: 300px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  object-fit: cover; 
  height: 100%;
}

.pagination a, .pagination span {
  color: black; 
}

.pagination a:hover, .pagination span:hover {
  color: #000000;
}

.pagination .active a, .pagination .active span {
  background-color: #a2bd95 !important;
  border-color: #a2bd95 !important;
  color: black !important; 
}

.cafe-background {
  min-height: 100vh; /* 画面全体の高さを覆うために設定 */
  background-size: cover; /* 背景画像をカバーさせる */
  background-position: center; /* 背景画像を中央に配置 */
  background-repeat: no-repeat; /* 背景画像を繰り返さない */
}

.container {
  position: relative; /* コンテナの位置を相対的に設定 */
  z-index: 1; /* コンテナの上に表示させる */
  padding: 20px; /* 適切なパディングを追加 */
  color: #000000; /* コンテナ内のテキスト色を設定 */
}