カフェ情報編集画面
form_withモデルでURL必要なので注意

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <%#= form_with model: @cafe, url:admin_cafe_path(@cafe) do |f| %>
      <%# end %>
    </div>
  </div>
</div>