<div>
  <%= flash[:notice] %>
</div>

<%= image_tag @user.get_profile_image(100,100) %>
<h4><%= @user.name %></h4>
<% if @user == current_user && !@user.guest_user? %>
  <%= link_to "Edit Profile", edit_user_path(@user) %>
<% end %>